<ul id="ulcontent14px">			
				<b>Monthly Session</b>
				<!-- New table start -->
							   
				 <table class="tbstyle">
				      <tr>
				    <td width="800"><span id="subcontitle">05/30 14:00-16:00</span></td>
					 <td width="30%"><span id="subcontitle">06/27 14:00-16:00</span></td>
					 <td width="800px"><span id="subcontitle">07/25 14:00-16:00</span></td>
					 </tr>


				      <tr valign="top">
				    <td >

							<UL id="ulcontentplan">
							<% if(records["speed_kpi_definition_and_gso_project_data_collection"]==undefined) records["speed_kpi_definition_and_gso_project_data_collection"]=0 %>
				              <li>Speed KPI definition and GSO Project Data Collection<a href="/speed_kpi_definition_and_gso_project_data_collection"><img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["speed_kpi_definition_and_gso_project_data_collection"]%>)</font></li>
				               <% if(records["defect_creation_tips"]==undefined) records["defect_creation_tips"]=0 %>
							  <li>Defect Creation Tips<a href="/defect_creation_tips"><img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["defect_creation_tips"]%>)</font></li>
							  </UL>
						
					</td>
				    <td >
					 
							 <UL id="ulcontentplan">
							 <% if(records["tips_for_better_doing_tvt_go_nogo_accessment"]==undefined) records["tips_for_better_doing_tvt_go_nogo_accessment"]=0 %>
				              <li>Tips for better doing TVT Go/No-Go Assessment<a href="/tips_for_better_doing_tvt_go_nogo_accessment"><img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["tips_for_better_doing_tvt_go_nogo_accessment"]%>)</font></li>
				               <% if(records["gvt_ta_example_sharing"]==undefined) records["gvt_ta_example_sharing"]=0 %>
							  <li>GVT TA example sharing<a href="/gvt_ta_example_sharing"><img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["gvt_ta_example_sharing"]%>)</font></li>
				            </UL>
					
					</td>
					<td >
					   
						<UL id="ulcontentplan">
						<% if(records["gvt_in_cd_Process"]==undefined) records["gvt_in_cd_Process"]=0 %>
				              <li>GVT in CD process<a href="/gvt_in_cd_Process"><img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["gvt_in_cd_Process"]%>)</font></li>
				              <% if(records["dbs_enhancements"]==undefined) records["dbs_enhancements"]=0 %>
							  <li>2014 1H DBs enhancements<a href="/dbs_enhancements"><img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["dbs_enhancements"]%>)</font></li>
							  <% if(records["demo_testcase_creation_tool"]==undefined) records["demo_testcase_creation_tool"]=0 %>
							  <li>Demo_TestCaseCreationTool<a href="/demo_testcase_creation_tool"><img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["demo_testcase_creation_tool"]%>)</font></li>
				             </UL>
					</td>
					
				  </tr>
				  
				     <tr>
				    <td ><span id="subcontitle"> 08/08 13:00-15:00</span>	</td>
					 <td><span id="subcontitle"> 08/15 14:00-16:00 </span>	</td>
					 <td><span id="subcontitle">Incoming</span>		 </td>
					 </tr>
					 
				  <tr  valign="top">
				    <td>
					
					  <UL id="ulcontentplan">
					 		  <% if(records["gb18030"]==undefined) records["gb18030"]=0 %>
				              <li>GB18030<a href="/gb18030"><img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["gb18030"]%>)</font></li>
				              <% if(records["how_to_write_wellconveived_technical_documentation"]==undefined) records["how_to_write_wellconveived_technical_documentation"]=0 %>
							  <li>How to Write Well-conveived Technical Documentation<a href="/how_to_write_wellconveived_technical_documentation"><img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["how_to_write_wellconveived_technical_documentation"]%>)</font></li>
							
							</UL>
						</td>
						 <td>
					<UL id="ulcontentplan">
							<% if(records["translation_qality_process"]==undefined) records["translation_qality_process"]=0 %>
				              <li>Translation Quality Process<a href="/translation_qality_process"><img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["translation_qality_process"]%>)</font></li>
				              <% if(records["sniff_gvt_for_bluemix"]==undefined) records["sniff_gvt_for_bluemix"]=0 %>
							  <li>Sniff GVT for Bluemix<a href="/sniff_gvt_for_bluemix"><img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["sniff_gvt_for_bluemix"]%>)</font></li>
							
					</UL>
							  
					 </td>
					<td>
								
							<UL id="ulcontentplan">

							 
							  </UL>	
									
									 </td>
				 </tr>
				 
				  </table>
				  </ul>