
	

<ul id="ulcontent14px">			
				<b>Monthly Session</b>
				<!-- New table start -->

			   
				 <table class="tbstyle">
				      <tr>
				    <td width="800"><span id="subcontitle">05/30 14:00-16:00</span></td>
					 <td width="30%"><span id="subcontitle">06/27 14:00-16:00</span></td>
					 <td width="800px"><span id="subcontitle">07/25 14:00-16:00</span></td>
					 </tr>


				      <tr valign="top">

				    <td >
				    		<UL id="ulcontentplan">
				    		<ol style="margin-left:0px">
							<% if(records["speed_kpi_definition_and_gso_project_data_collection"]==undefined) records["speed_kpi_definition_and_gso_project_data_collection"]=0 %>
				              <li style="disc"><a href="/speed_kpi_definition_and_gso_project_data_collection">Speed KPI definition and GSO Project Data Collection<img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["speed_kpi_definition_and_gso_project_data_collection"]%>)</font></li>
				               <% if(records["defect_creation_tips"]==undefined) records["defect_creation_tips"]=0 %>
							  <li><a href="/defect_creation_tips">Defect Creation Tips<img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["defect_creation_tips"]%>)</font></li>
							  </ol>
							  </UL>
						
					</td>
				    <td >
					 
							 <UL id="ulcontentplan">
							 <ol style="margin-left:0px">
							 <% if(records["tips_for_better_doing_tvt_go_nogo_accessment"]==undefined) records["tips_for_better_doing_tvt_go_nogo_accessment"]=0 %>
				              <li><a href="/tips_for_better_doing_tvt_go_nogo_accessment">Tips for better doing TVT Go/No-Go Assessment<img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["tips_for_better_doing_tvt_go_nogo_accessment"]%>)</font></li>
				               <% if(records["gvt_ta_example_sharing"]==undefined) records["gvt_ta_example_sharing"]=0 %>
							  <li><a href="/gvt_ta_example_sharing">GVT TA example sharing<img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["gvt_ta_example_sharing"]%>)</font></li>
							   </ol>
				            </UL>
					
					</td>
					<td >
					   
						<UL id="ulcontentplan">
						<ol style="margin-left:0px">
						<% if(records["gvt_in_cd_Process"]==undefined) records["gvt_in_cd_Process"]=0 %>
				              <li><a href="/gvt_in_cd_Process">GVT in CD process<img src="/img/radio.jpg" class="img-rounded"></a><font color="red">(<%= records["gvt_in_cd_Process"]%>)</font></li>
				              <% if(records["dbs_enhancements"]==undefined) records["dbs_enhancements"]=0 %>
							  <li><a href="/dbs_enhancements">2014 1H DBs enhancements<img src="/img/radio.jpg" class="img-rounded"></a><font color="red">(<%= records["dbs_enhancements"]%>)</font></li>
							  <% if(records["demo_testcase_creation_tool"]==undefined) records["demo_testcase_creation_tool"]=0 %>
							  <li><a href="/demo_testcase_creation_tool">Demo_TestCaseCreationTool<img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["demo_testcase_creation_tool"]%>)</font></li>
							   </ol>
				             </UL>
					</td>
					
				  </tr>
				  
				     <tr>
				    <td ><span id="subcontitle"> 08/08 13:00-15:00</span>	</td>
					 <td><span id="subcontitle"> 08/15 14:00-16:00 </span>	</td>
					 <td><span id="subcontitle"> 08/21 13:00 - 14:00</span>  </td>
					 </tr>
					 
				  <tr  valign="top">
				    <td>
					
					  <UL id="ulcontentplan">
					  <ol style="margin-left:0px">
					 		  <% if(records["gb18030"]==undefined) records["gb18030"]=0 %>
				              <li><a href="/gb18030">GB18030<img src="/img/radio.jpg" class="img-rounded"></a><font color="red">(<%= records["gb18030"]%>)</font></li>
				              <% if(records["how_to_write_wellconveived_technical_documentation"]==undefined) records["how_to_write_wellconveived_technical_documentation"]=0 %>
							  <li><a href="/how_to_write_wellconveived_technical_documentation">How to Write Well-conveived Technical Documentation<img src="/img/radio.jpg" class="img-rounded"></a><font color="red">(<%= records["how_to_write_wellconveived_technical_documentation"]%>)</font></li>
							   </ol>
							
							</UL>
						</td>
						 <td>
					<UL id="ulcontentplan">
					<ol style="margin-left:0px">
							<% if(records["translation_qality_process"]==undefined) records["translation_qality_process"]=0 %>
				              <li><a href="/translation_qality_process">Translation Quality Process<img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["translation_qality_process"]%>)</font></li>
				              <% if(records["sniff_gvt_for_bluemix"]==undefined) records["sniff_gvt_for_bluemix"]=0 %>
							  <li><a href="/sniff_gvt_for_bluemix">Sniff GVT for Bluemix<img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["sniff_gvt_for_bluemix"]%>)</font></li>
							   </ol>
							
					</UL>
							  
					 </td>
					<td>
								
				 <UL id="ulcontentplan">
					<ol style="margin-left:0px">
							<% if(records["gb18030_compliance_test"]==undefined) records["gb18030_compliance_test"]=0 %>
				              <li><a href="/gb18030_compliance_test">GB18030 Compliance Test<img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["gb18030_compliance_test"]%>)</font></li>
				              
							 </ol>
							 
						</UL>	
						 </td>
				 </tr>


				  <tr>
				    <td ><span id="subcontitle"> 08/29 14:00 - 16:30</span>	</td>
					 <td><span id="subcontitle"> 09/05 14:00 - 16:00 </span>	</td>
					 <td><span id="subcontitle"> 09/16 14:00 - 15:00</span>  </td>
					 </tr>
					 
				  <tr  valign="top">
				    <td>
					
					  <UL id="ulcontentplan">
					  <ol style="margin-left:0px">
					 		  <% if(records["2014_taiwan_technical_leadership_exchange"]==undefined) records["2014_taiwan_technical_leadership_exchange"]=0 %>
				              <li><a href="/2014_taiwan_technical_leadership_exchange">2014 Taiwan Technical Leadership Exchange - Knowledge sharing<img src="/img/radio.jpg" class="img-rounded"></a><font color="red">(<%= records["2014_taiwan_technical_leadership_exchange"]%>)</font></li>
							   </ol>
							
							</UL>
						</td>
						 <td>
					<UL id="ulcontentplan">
					<ol style="margin-left:0px">
							<% if(records["g11n_tools_awards_and_ram_introduction"]==undefined) records["g11n_tools_awards_and_ram_introduction"]=0 %>
				              <li><a href="/g11n_tools_awards_and_ram_introduction">G11N Tools Awards and RAM introduction<img src="/img/radio.jpg" class="img-rounded"></a><font color="red">(<%= records["g11n_tools_awards_and_ram_introduction"]%>)</font></li>
				              
							   </ol>
							
					</UL>
							  
					 </td>
					<td>
								
				 <UL id="ulcontentplan">
					<ol style="margin-left:0px">
							<% if(records["gbms_dou_tool_education_for_gssc"]==undefined) records["gbms_dou_tool_education_for_gssc"]=0 %>
				              <li><a href="/gbms_dou_tool_education_for_gssc">GBMS DOU Tool Education for GSSC<img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["gbms_dou_tool_education_for_gssc"]%>)</font></li>
				              
							 </ol>
							 
						</UL>	
						 </td>
				 </tr>
				 
				  </table>
				  </ul>

				
				