
<b> <font color="blue"><h1><%= __('EW0029')%></h1></font></b>

 <hr>
<% profileResults.forEach(function(profileResult, index) { 
  %>

    <div class="row" >
        <div class="span4">
            <p class="text-left"> <b><a href="/<%= profileResult.coursename %>"><%= __('EW0024')%><%= profileResult.coursename %>aabb</a></p>
            <p class="text-left"><b><%= __('EW0025')%><%= profileResult.times %></p>
        </div>
    </div><!-- end row -->
      <hr>
<%}) %>