 <SCRIPT language=JavaScript type=text/javascript>
<!-- 
function switchTable(obj, lnk)
{
    if(document.getElementById(obj))
    {
        var objdiv = document.getElementById(obj);
        var lnkdiv = document.getElementById(lnk);
        if(objdiv.style.display == "")
        {
            objdiv.style.display = "none";
            lnkdiv.innerHTML = "<img src='img/group-expand.jpg'>"
        }
        else
        {
            objdiv.style.display = "";
            lnkdiv.innerHTML = "<img src='img/group-collapse.jpg'>"
        }
    }
    else
    {
        alert('can not find the div..')
    }
}
// -->
</SCRIPT>

<SCRIPT language=JavaScript type=text/javascript>
<!-- 
document._domino_target = "_self";
function _doClick(v, o, t, h) {
  var form = document._Achievements;
  if (form.onsubmit) {
     var retVal = form.onsubmit();
     if (typeof retVal == "boolean" && retVal == false)
       return false;
  }
  var target = document._domino_target;
  if (o.href != null) {
    if (o.target != null)
       target = o.target;
  } else {
    if (t != null)
      target = t;
  }
  form.target = target;
  form.__Click.value = v;
  if (h != null)
    form.action += h;
  form.submit();
  return false;
}
// -->
</SCRIPT>




 <!-- LEADSPACE_BEGIN -->
<div id="ibm-leadspace-head" class="ibm-alternate-background">
<div id="ibm-leadspace-body">
<ul id="ibm-navigation-trail">
          <li class="ibm-first"><a href="">GSSC Education Home</a></li>
          <li><a href="">About Us</a></li>
          
<!--           <li><a href="">bbb</a></li>
         <li><a href="">XXXXX</a></li>
-->         
          </ul> 
<h1>Version History</h1>
</div>
</div>
<!-- LEADSPACE_END -->

  <div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">
<!-- CONTENT_BODY -->
<div id="ibm-content-body">
    <div id="ibm-content-main">


<TABLE class=items id=TB_3>
  <TBODY>
  <TR>
    <TD colSpan=2>
      <TABLE>
        <TBODY>
        <TR>
          <TD><A onClick="switchTable('TB_S3', 'LK_1_3');">
            <TABLE>
              <TBODY>
              <TR>
                <TD id=LK_1_3><IMG 
                src="img/group-collapse.jpg"></TD>
                <TD><IMG src="img/calender.jpg"><B>V2.0 2014.11</B></TD></TR></TBODY></TABLE></A></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE>
<TABLE class=items id=TB_S3><!--5-->
  <TBODY>
  <TR>
    <TD width="2%"></TD>
    <TD>
      <TABLE class=items id=TB_3_5>
        <TBODY>
        <TR>
          <TD>
            <TABLE class=items>
              <TBODY>
              <TR>
                <TD>
                  <TABLE>
                    <TBODY>
                    <TR>
   <ul>
    <p class="text-left"><IMG src="img/star.jpg"></i>Implement w3 style</p>

    </ul></TD></TR></TBODY></TABLE></A></TD></TR></TBODY></TABLE></TD></TR>
       
 
     </TBODY></TABLE></TD></TR>
       
 
     </TBODY></TABLE>

<hr>

<TABLE class=items id=TB_1>
  <TBODY>
  <TR>
    <TD colSpan=2>
      <TABLE>
        <TBODY>
        <TR>
          <TD><A onClick="switchTable('TB_S1', 'LK_1_1');">
            <TABLE>
              <TBODY>
              <TR>
                <TD id=LK_1_1><IMG 
                src="img/group-collapse.jpg"></TD>
                <TD><IMG src="img/calender.jpg"><B>V2.0Beta 2014.7</B></TD></TR></TBODY></TABLE></A></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE>
<TABLE class=items id=TB_S1><!--5-->
  <TBODY>
  <TR>
    <TD width="2%"></TD>
    <TD>
      <TABLE class=items id=TB_1_5>
        <TBODY>
        <TR>
          <TD>
            <TABLE class=items>
              <TBODY>
              <TR>
                <TD>
                  <TABLE>
                    <TBODY>
                    <TR>
   <ul>
    <p class="text-left"><IMG src="img/star.jpg"></i><%= __('EW0034')%></p>
    <p class="text-left"><IMG src="img/star.jpg"><i class="icon-star"></i><%= __('EW0033')%></p>
    <p class="text-left"><IMG src="img/star.jpg"><i class="icon-star"></i><%= __('EW0032')%></p>
    <p class="text-left"><IMG src="img/star.jpg"><i class="icon-star"></i><%= __('EW0031')%></p>
    </ul></TD></TR></TBODY></TABLE></A></TD></TR></TBODY></TABLE></TD></TR>
       
 
     </TBODY></TABLE></TD></TR>
       
 
     </TBODY></TABLE>

<hr>

<TABLE class=items id=TB_2>
  <TBODY>
  <TR>
    <TD colSpan=2>
      <TABLE>
        <TBODY>
        <TR>
          <TD><A onClick="switchTable('TB_S2', 'LK_2_1');">
            <TABLE>
              <TBODY>
              <TR>
                <TD id=LK_2_1><IMG 
                src="img/group-collapse.jpg"></TD>
                <TD><IMG src="img/calender.jpg"><B>V1.0 2013</B></TD></TR></TBODY></TABLE></A></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE>
<TABLE class=items id=TB_S2><!--5-->
  <TBODY>
  <TR>
    <TD width="2%"></TD>
    <TD>
      <TABLE class=items id=TB_2_2>
        <TBODY>
        <TR>
          <TD>
            <TABLE class=items>
              <TBODY>
              <TR>
                <TD>
                  <TABLE>
                    <TBODY>
                    <TR></TD></TR>
       
 
     </TBODY></TABLE>
   <ul>
    <p class="text-left"><IMG src="img/star.jpg"></i><%= __('EW0030')%></p>
    </ul></TD></TR></TBODY></TABLE></A></TD></TR></TBODY></TABLE></TD></TR>
       
 
     </TBODY></TABLE>

<hr>
     </div>
</div>
</div>
</div>
