<div class="row" >
 
	<div class="span4">
    <p class="text-left"> <i class="icon-calendar"></i><b>V2.0Beta 2014.7</b></p>
    <ul>
    <p class="text-left"><i class="icon-star"></i><%= __('EW0034')%></p>
    <p class="text-left"><i class="icon-star"></i><%= __('EW0033')%></p>
    <p class="text-left"><i class="icon-star"></i><%= __('EW0032')%></p>
    <p class="text-left"><i class="icon-star"></i><%= __('EW0031')%></p>
    </ul>
    <hr>

    <p class="text-left"> <i class="icon-calendar"></i><b>V1.0 2013</b></p>
    <ul>
    <p class="text-left"><i  class="icon-star"></i><%= __('EW0030')%></p>
    </ul>
    <hr>


    </div>